*{
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100vw;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    flex-direction: column;
    width:800px;
    gap:16px;
}
.header{
    text-align: center;
}
.search-container{
    display:flex;
}
#search{
    width:800px;
}

.content{
    width:800;
    max-height:1500px;
    display:grid;
    grid-template:114px 1fr / 1fr 1fr;
    grid-column-gap:8px;
    grid-row-gap:8px;
}
.hourly-title{
    color:red;
}

.hourly-content-container{
    display:flex;
    gap:16px;
}

.hourly-container{
    display:flex;
    gap:16px;
    flex-direction: column;
    overflow-x:scroll;
    border:1px solid black;
    grid-area: 1/1/2/3;
    border-radius: 8px;
}
.left-container{
    grid-area: 2/1/3/2;
    background-color: coral;
}
.right-container{
    grid-area: 2/2/3/3;
    background-color: white;
    display:flex;
    gap:6px;
    flex-direction: column;
    
}

.small-container{
    grid-column-gap:6px;
    grid-row-gap:6px;
}
.left-container,
.UV-container, 
.wind-container,
.humidity-container,
.chance-container,
.sunrise-container,
.sunset-container,
.pressure-container,
.visibility-container{
    display:flex;
    flex:1;
    flex-direction: column;
    padding:8px;
    border:1px solid orange;
    gap:4px;
    font-size:14px;
}

.UV-container h3,
.wind-container h3,
.humidity-container h3,
.chance-container h3,
.sunrise-container h3,
.sunset-container h3,
.pressure-container h3,
.visibility-container h3
{
    margin:0;
    font-size: 18px;
}

.UV-container p,
.wind-container p,
.humidity-container p,
.chance-container p,
.sunrise-container p,
.sunset-container p,
.pressure-container p,
.visibility-container p{
    margin:0;

}
.UV-container h3, .wind-container h3{
    font-size:20px;
}

.small-container{
    display:grid;
    grid-template:1fr 1fr / 1fr 1fr;
}

/* .left-container{
    padding:20px;
} */
.left-container h3{
    margin:0;
}
.weekly-content{
    display:flex;
    padding:18px 0;
    width:100%;
    gap:16px;
}
.avg-container{
    display:flex;
    flex:1;
    justify-content: space-between;
}